.app {
  padding: 24px 0;
  color: red;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.crack-bean {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
